{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block styles %}
{% endblock %}
{%block content %}
<form action="#" method="POST">
    <input type="number" name="cnumber" placeholder="Enter CardNumber" value=""{{cnumber if cnumber}}/>
    <input type ="date" name = "expr" placeholder="Enter Expiration Date" value="" {{expr if expr}}/>
    <input type="number" name ="cvv" placeholder="Enter cvv" value=""{{cvv if cvv}}/>
    <input type="submit" value="submit"/>   
</form>
{% endblock %}