{% extends "TableBase.html" %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>ProductID</th>
        <th>Name</th>
        <th>Department</th>
          <th>Price</th>
          <th>Image</th>
          <th>Button</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        ajax: '/api/data/Products',
        serverSide: true,
        columns: [
          {data: 'productID'},
          {data: 'name'},
            {data: 'department'},
            {data: 'price'},
            {data: 'image'},
            {data: 'button'}
        ],
      });
    });
  </script>
{% endblock %}

{% block form %}
      {% if success %}<p>Saved Successfully!</p>{% endif %}
      <form method="post" action="">
        {% for field in form %}
          <p>{{ field.label }} {{ field }}</p>
        {% endfor %}
        <p><button type="submit">Submit</button></p>
      </form>
{% endblock %}